html {
  background-color: rgb(136, 38, 8);
}

body {
  background-color: rgba(255, 248, 146, 0.918);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 20px solid rgb(38, 112, 38);
  width: 500px;
  margin: 50px auto;
  padding: 25px 75px;
  border-radius: 120px;
}

h1 {
  color: rgb(38, 112, 38);
}

h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: rgb(136, 38, 8);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
